.header {
  background-color: #d3fdd8;
  padding: 2rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav p {
  font-size: 1.4rem;
}
.links {
  /* list-style: none; */
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
}

.links li {
  white-space: nowrap;
  cursor: pointer;
  color: #084cba;
}

.links .signup {
  background-color: #084cba;
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
}
